@import url("https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Roboto+Slab&display=swap");

footer {
  background: #1a3052;
  width: 100%;
  height: 190px;
}

.containerbody {
  display: flex;
  align-self: flex-end;
  height: 154px;
  padding-block-start: 60px;
  padding-inline-start: 50px;
  padding-inline-end: 60px;
  align-items: center;
}

.column {
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.labeltext {
  line-height: 2.0;
  color: #c5cbd3;
  font-size: 11px;
  font-family: Roboto Slab;
}

.h2titulo {
  font-size: 20px;
  color: #c5cbd3;
  display: flex;
 
}
.row1 {
  width: 160px;
  flex-direction: column;
  display: flex;
  margin-inline-start: 15%;
 
}
.row2 {
  width: 298px;
  display: flex;
  flex-direction: column;
  margin-inline-start: 18px;
  margin-block-start: 2%;
  margin-inline-end: 70px;
}
.row3 {
  width: 208px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-inline-start:  14%;
}

.copyryght {
  flex-direction: column;
  line-height: 2.0;
  color: #c5cbd3;
  font-size: 11px;
  display: flex;
  text-align: right;
}

.imagen3 {
  width: 90px;
  margin-inline-start: 55%;
  align-self: flex-end;
}
.logo{
  width: 40px;
  height: 28px;
  margin-block-end: 5px;
}
.imagen1 {
  height: 100px;
  margin-block-end: 20%;
}
