@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Roboto+Slab&display=swap');

.horses{
    background-image: url(imagen/caballos.png);

}
.cap{
    background-color: rgba(95,111,136,0.3);
}


.rectangle{
    display:flex;
    justify-content: center;
    position: relative;
  
}

.rectangleuno{
    margin-block-start: 70px;
    display:flex;
    flex-direction: column;
    height: 640px;
    width: 468px;
    background-color:#1A3052;
    margin-block-end:110px;
}

.titulouno{
font-size: 2.9em;
 font-family: PlayfairDisplay;
 color:#FFFFFF;
 padding-block-start: 40px;
 justify-content: center;
 margin: 6% auto;
 text-align: center;

}
.subtitulo{
    font-size: 22px;
    font-family: Oswald;
    color:#D9B081;
    display:flex;
    justify-content: center;
    padding-block-start: 10px;
    padding-block-end: 15px;

}
 .text{
 font-size: 13px;
 font-family: Roboto Slab;
 color:#FFFFFF;
 text-align: center;
 line-height: 1.7;
 margin: 1% 3% 3%;
 }


.hr{
    width: 13%;
    height: 1px;
    background-color:#D9B081;
    margin: 0 auto 1em;

 }

 .botondos{
 margin-inline-start:10%;
 margin-block-start:8% ;
 }