.toolBar{
    position:fixed;
    width: 100%;
    height: 56px;
    background: transparent;
    top:0;
    left:0;
    z-index: 1;
}

.toolBarNav{
    display:flex;
    align-items: center;
    height: 100%;
    padding:0 1rem;
}

.toolBarItems ul{
    list-style: none;
    display:flex;
}

.toolBarRef{
    text-decoration: none;
    padding:20px 10px 20px 10px;
    color: rgb(255, 166, 0);
}

.toolBarRefActive{
    border:1px solid;
    border-bottom-width: 3px;
    border-bottom-style: initial;
    border-bottom-color: initial;
   
   color: #D9B081;
    
}

.spacer{
    flex: 1;
}

.toolBarLogo{
    margin-left: 0.5rem;
}
