@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"); //First font.
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"); //Second font.
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap"); //Logo font.

.background {
  background-image: url("./img/Background\ image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #172437;
}

//WELCOME SECTION//

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
  margin-top: 272px;
  align-items: center;
}

.paragraphContainer {
  display: flex;
}

.paragraphContainer2 {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  margin-top: 30px;
}

.logoFont {
  font-family: "Oswald", sans-serif;
  color: #d9b081;
  font-size: 22px;
  font-weight: unset;
}

.firstFont {
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
  font-weight: inherit;
  color: #ffffff;
}

.secondFont {
  font-family: "Roboto Slab", serif;
  font-size: 11px;
  font-weight: lighter;
  color: #cdd1f5;
  text-align: center;
  width: 95%;
}

//Our Services section//

.ourServsContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.subtitleFont {
  margin-top: 90px;
  font-family: "Oswald", sans-serif;
  color: #d9b081;
  font-weight: lighter;
  font-size: xx-large;
  margin-bottom: 7px;
}

.linkContainer {
  justify-content: center;
  display: flex;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.link {
  margin: 0 5px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.link .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1724378f;
  opacity: 0;
  transform: all 0.4s ease;
  z-index: 10;
}

.link .mask p {
  font-family: "Playfair Display", serif;
  top: 47px;
  left: 17px;
  color: #ffffff;
  font-size: 1.5em;
  text-align: left;
}

.link:hover .mask {
  opacity: 0.9;
}

.linkContainer a img {
  display: flex;
  max-width: 100%;
}

.buttonHome {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  color: #d9b081;
  margin-top: 40px;
  border: 1px solid #d9b081;
  border-radius: 3px;
  padding: 9px 100px 9px 100px;
  margin-bottom: 100px;
  cursor: pointer;
  margin-right: 46px;
&:hover {
  background-color: #232f41;
  color: #ffffff;
 }
}