.modal{
    display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	min-height: 100vh;
	min-width: 100vw;
	background-color: rgba(0, 0, 0, 0.685);
    animation-duration: .5s;
	animation-name: modal;
	z-index: 2;
}

@keyframes modal {
    from {
	opacity: 0;
	transform: scale(0);
}
    to {
	opacity: 1;
	transform: scale(1);
   }
}
.BotonClose {
	position: absolute;
	top: 90%;
	right: 50%;
}

.btn {
	position: absolute;
	padding: 0;
	margin: 0;
	width: 60px;
	height: 35px;
	background-color: transparent;
	transition: all .5s ease;
	color: #d9b081;
	outline: none;
    &:hover {
	cursor: pointer;
	color:white;
   }
}
.btn2 {
	top: 28%;
	right: 20%;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 60px;
	height: 35px;
	background-color: transparent;
	transition: all .5s ease;
	color:  #5f6f88;
	outline: none;
    &:hover {
	cursor: pointer;
	color:white;
   }
}

.containerModal{
    display: flex;
    flex-direction:column;
    margin:0 auto;
}

.titulo2{
	font-size: 2.9em;
	font-family: PlayfairDisplay;
	color:#FFFFFF;
	margin-inline-start:90px;
	padding-block-start: 25px;
	float:left;
	padding-block-end: 25px;
}
	   
.subtitulo2{
	font-size: 25px;
    font-family: Oswald;
    color: #D9B081;
    display: flex;
    text-align: start;
    padding-inline-start: 18px;
    padding-block-start: 11px;
    float: left;
}

.linea2{
	margin-inline-start: -122%;
    padding-block-start: 80px;
}
	   