@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"); //First font.
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"); //Second font.
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap"); //Logo font.

.backgroundHolidays {
  background-image: url("./img/background-Holidays.png");
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #172437;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerTravel {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #ffffff;
  margin-left: 100px;
  width: 26.5%;
  margin-top: 14%;
}
.container{
  height: 376px;
  width: 738px;
 margin-block-start: 15%;
 margin-inline-start:4%;
 margin-inline-end: 50px;
 position: relative;
}
.title {
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
  font-weight: inherit;
  color: #ffffff;
  align-items: flex-start;
  margin-bottom: 5%;
}
.border {
  display: flex;
  align-self: self-start;
}
.verticalBoder {
  display: flex;
  position: absolute;
}

.subTitle {
  font-family: "Oswald", sans-serif;
  text-align: left;
  color: #d9b081;
  font-size: 22px;
  font-weight: unset;
  margin-top: 4%;
}

.description {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: lighter;
  color: #cdd1f5;
  text-align: left;
  width: 100%;
}

.boton {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  color: #d9b081;
  align-items: left;
  margin-top: 40px;
  background-color: #172437;
  border: 1px solid #d9b081;
  border-radius: 3px;
  padding: 9px 100px 9px 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  cursor: pointer;
}
.boton:hover {
  background-color: #232f41;
  color: #ffffff;
}

.carousel-indicators {
  justify-content: flex-start;
  margin-left: 0;
}
