@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Roboto+Slab&display=swap');


.fila2{
    display: flex;
    justify-content:space-between;
   
 }

 .uno{
  height: 265px;
  width: 398px;
  margin-inline-start: 50px;
  margin-block-end: 70px;
  background-color: gray;
 
 }
 .dos{
    height: 265px;
    width: 430px;
    margin-inline-start: 10%;
    background-color: gray;
   
   }
   .tres{
    height: 265px;
    width: 458px;
    margin-inline-start: 10%;
    background-color: gray;
   
   }
 p{
    font-size: 15px;
    text-align: left;
    color: #FFFFFF;
    font-family: Roboto Slab;
    line-height: 1.8;

 }

 .title{
    padding-block-start: 10px;
    padding-block-end: 3px;
    font-size: 28px;
    font-family: Playfair Display;
    color:#D9B081;
 }