@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display|Roboto+Slab&display=swap');

.contenedor1{
  width: 100%;
  height: 100%;
  background-color:#172437;
}
.fund{
  top: 0;
  height: 800px;
  width: 100%;
  position: absolute;
  background-size: cover; 
  opacity: 0.5;
  color:#5F6F88 ;  
&::before{
  background-color: rgba(0, 0, 0, 0.5);
  color:#5F6F88;
 }
}
.row1{
  display: flex;
  justify-content:space-between;
}
.content{
  width: 450px;
  height: 493px;
  position: relative;
  margin-block-start: 15%;
  margin-inline-start: 50px; 
}

.sidebar{
  height: 346px;
  width: 708px;
  background-color: rgb(47, 88, 102);
  margin-block-start: 10%;
  margin-inline-end: 50px;
  position: relative;
}

.line{
  margin-inline-end: 100%;
  margin-block-end: 10px;
}

.subTitle1{
  font-size: 13px;
  text-align: left;
  color: #FFFFFF;
  font-family: Roboto Slab;
  padding-block-start: 10px;
  padding-block-end: 20px;
}

span{
  color: #D9B081;
  font-size: 22px;
  font-family: Oswald;
}

.title1{
  padding-block-start:30px;
  padding-block-end: 15px;
  font-size:  2.9em;
  font-family: Playfair Display;
  color: #FFFFFF;
}


