.secciones{
    display: flex;
    margin-inline-start: 50px;
    flex-direction:column;
    margin-block-start: 50px;
  }
  
  .seccion {
    background-color:#172437;
    height: 379px;
    width: 430px;
   flex-direction: column; 
    text-align: left;
    line-height: 1.8;
    display: flex;
  }
  .seccionuno {
    background-color:#172437;
    height: 340px;
    width: 400px;
  }
  .imagen{
    height:70px;
    width: 70px;
  }
  .h1{
    font-family: Playfair Display;
    font-size: 60px;
    color: #FFFFFF;
  }

.hrr{
  width: 13%;
  height: 1px;
  background-color:#D9B081;
  margin-inline-start: 10px;
  margin-block-end: 4%;
  margin-block-start: 8%;
 
}