//CONTACT US//

.button {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  color: #d9b081;
  margin-top: 40px;
  background-color: transparent;
  border: 1px solid #d9b081;
  border-radius: 3px;
  padding: 9px 100px 9px 100px;
  margin-bottom: 100px;
  cursor: pointer;
  margin-right: 46px;
  &:hover {
  color: #ffffff;
 }
}
